<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: cursive;
}
a {
  text-decoration: none;
}
.navbar {
  width: 100%;
  height: 50px;
  background-color: rgb(128, 113, 255);
}
.navbar-brand {
  width: 300px;
  transform: scale(0.4);
}
.aboutsec {
  width: 100%;
  height: 500px;
  padding-top: 10px;
  background-image: url(../img/ca14k.jpg);
  background-size: 100% 100%;
  animation: slider 9s infinite linear;
  animation-delay: 1s;
}
@keyframes slider {
  30% {
    background-image: url(../img/4kne.jpg);
  }
  65% {
    background-image: url(../img/ca34k.jpg);
  }
  105% {
    background-image: url(../img/ca44k.jpg);
  }
}
.ffirstcontent {
  width: 100%;
  height: 50px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #eee;
}
.ffirstcontent ul li i {
  padding: 0 1em;
}
ul.w3_short {
  text-align: left;
  padding: 12px 0;
  margin-left: 250px;
}
ul.w3_short li {
  display: inline-block;
  text-transform: uppercase;
  color: #000;
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 1px;
}
ul.w3_short li a {
  color: #ff5722;
  text-decoration: none;
}
.newcontainer {
  display: flex;
  flex-wrap: nowrap;
}
.newsblog {
  width: 100%;
}

.newsblog .newsheadtit {
  margin-bottom: 20px;
  margin-left: 20%;
}
.newsblog .news {
  /* margin-left: 20%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.news .bantin {
  margin: 30px;
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 5px 10px 15px rgb(163, 160, 160);
}
.news .bantin img {
  width: 100%;
  height: 75%;
  margin-right: 20px;
}
.news .bantin:hover {
  transform: scale(1.1);
  box-shadow: 10px 15px 15px rgb(163, 160, 160);
  transition: 0.2s;
}
.news .bantin:hover img {
  filter: brightness(0.5);
  transition: 0.6s;
}
.news .bantin .tieudenew {
  color: rgb(138, 135, 135);
  padding: 5px;
  min-height: 15%;
  bottom: 0px;
  background-color: white;
  text-align: center;
}
.news .bantin .tieudenew h1 {
  font-weight: bolder;
  color: rgb(31, 30, 30);
  font-size: 16px;
}
.news .bantin .tieudenew p {
  margin-bottom: 0;
}
.news .bantin .tieudenew h1:hover {
  color: rgb(45, 45, 161);
}

.pagebar {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
a.page-link {
  color: black;
}
a.page-link:hover {
  background-color: rgba(0, 153, 255, 0.89);
  transition: 0.6s;
}
/* .footerontop {
  background-color: rgb(161, 151, 245);
}
.footerright {
  background-color: rgb(128, 113, 255);
  color: rgb(128, 31, 31);
} */
.sub-some ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.sub-some ul li {
  display: inline-block;
  margin: 1px;
}
.aaaa .fa {
  color: coral;
}
=======

html
{
    margin:0;
    padding:0;
    font-family:cursive;
}
.news-section
{
    
    background-color: rgb(83, 168, 238);
}
.main-container{
    padding-top: 60px;
    padding-bottom: 60px;
    display:flex;
    justify-content: center;	
    
}
.news
{
    background-color: white;
box-shadow: royalblue;
    /* display:inline-block; */
    width: 40%;
   /* position:absolute; */
    /* height:500px; */
    border:3px solid black;
    margin-right: 40px;
    
}
.news:last-child{
    margin-right: 0;
}
.left-news
{
    margin-right: 20px;

}
.news-container
{
    position:relative;
    width:100%;
    height:100%;
}
.news-image 
{
  width:90%;  
  height:75%;
  background-size:cover;
  margin-left:30px;
  margin-top:30px;
  /* opacity:0.5; */
  /* filter: blur(-0); */
}
.news-title
{
    position:absolute;
    display:block;
    text-align: center;
    font-size:20px;
    background-color: #0277bd;
    padding-top:10px;
    padding-bottom:10px;
    top:50%;
    width:100%;
    text-decoration: none;
    color:orange;
}
.news-content
{
    text-align:center;
    margin-bottom: 2px;
}
.news:hover{
    transform: translateY(3px)
}
.news-title:hover{
    text-decoration: none;
    color: #fff;
}
>>>>>>> ceee322c1c3dd57d42a0e328b5cf600a588b9fed
